<p>angular-create-contract works!</p>

<h4 style="color: burlywood; text-align: center; padding: 15px">THÊM MỚI HỢP ĐỒNG</h4>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Mã Khách Hàng</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="KH-XXXX">
    </div>
    <div class="form-group col-md-4">
      <label>Tên Khách Hàng</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label>Mã Hợp Đồng</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Ngày Tạo Hợp Đồng</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>Ngày Kết Thúc Hợp Đồng</label>
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Tiền Đặt Cọc</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>Tổng Tiền</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <button type="submit" class="btn" style="background-color: rgb(40, 110, 95); margin-left: 1000px; color: honeydew">
    Thêm Mới Hợp Đồng
  </button>
</form>
