<p>angular-list-contract works!</p>

<h4 style="color: burlywood; text-align: center; padding: 15px">DANH SÁCH HỢP ĐỒNG</h4>
<div class="row align-items-center mt-3">
  <table class="table table-striped">
    <thead style="background-color: #addccf">
    <tr>
      <th scope="col">Mã Hợp Đồng</th>
      <th scope="col">Mã Khách Hàng</th>
      <th scope="col">Tên Khách Hàng</th>
      <th scope="col">Ngày Tạo Hợp Đồng</th>
      <th scope="col">Ngày Kết Thúc Hợp Đồng</th>
      <th scope="col">Tiền Đặt Cọc</th>
      <th scope="col">Tổng Tiền</th>
      <th scope="col">Thao Tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList">
      <th>{{contract.maHopDong}}</th>
      <td>{{contract.maKhachHang}}</td>
      <td>{{contract.tenKhachHang}}</td>
      <td>{{contract.ngayTao}}</td>
      <td>{{contract.ngayKetThuc}}</td>
      <td>{{contract.tienCoc}}</td>
      <td>{{contract.tongTien}}</td>
      <td class="action">
        <a href="#">
          <img src="https://img.icons8.com/material-two-tone/24/000000/add-property.png"/>
        </a>
        <a href="#">
          <img src="https://img.icons8.com/metro/26/000000/edit.png" alt="edit_img"/>
        </a>
        <a onclick="return confirm('Bạn Có Muốn Xoá Hợp Đồng Này?')"
           href="#">
          <img src="https://img.icons8.com/windows/32/000000/delete-forever.png" alt="delete_img"/>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
