<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create new blog</title>
</head>
<body>
<h1>Create new blog</h1>
<p>
    <a th:href="@{/blogs}">
        Back to blog list
    </a>
</p>
<p>
    <a th:href="@{/}">
        Back to home
    </a>
</p>
<div id="form">
    <form th:action="@{/create-blog}" method="POST" th:object="${blog}">
<!--        <input type="hidden" th:field="${blog.id}"/>-->
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Recapitulate</label>
            <input type="text" th:field="*{recapitulate}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Category</label>
            <label>
                <select th:field="*{category.id}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.nameCategory}"></option>
                </select>
            </label>
        </div>
        <input type="submit" value="Create new blog"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>