<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>
    <a href="/">Blogs list</a>
</p>
<h1>Delete blog</h1>
<h2>Are you sure?</h2>
<form th:action="@{/delete}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Recapitulate:</td>
            <td th:text="*{recapitulate}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="*{content}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete blog"></td>
        </tr>
    </table>
</form>
</body>
</html>