<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Edit Blog</h1>
<p>
    <a th:href="@{/}">
        Blogs list
    </a>
</p>
<fieldset th:if="${message}">
    <legend><h2>Notice</h2></legend>
    <div class="notify">
        <div th:if="${message}">
            <span th:text="${message}"></span>
        </div>
    </div>
</fieldset><br>
<div id="form">
    <form th:action="@{/edit}" th:object="${blog}" method="POST">
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Recapitulate</label>
            <input type="text" th:field="*{recapitulate}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <input type="submit" th:value="Edit blog"/>
    </form>
</div>
</body>
</html>