<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Blogs</h1>
<p>
    <a th:href="@{/create}">
        Create new blog
    </a>
</p>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Recapitulate</th>
        <th>Date Post</th>
        <th>View More</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}" th:object="${blog}">
        <td th:text="*{title}"></td>
        <td th:text="*{recapitulate}"></td>
        <td th:text="*{date}"></td>
        <td><a th:href="@{/view/__${blog.id}__ }">Detail</a></td>
        <td><a th:href="@{/edit/__${blog.id}__ }">Edit</a></td>
        <td><a th:href="@{/delete/__${blog.id}__ }">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
