<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/HomeStyle.css">
</head>

<body>
<div class="banner">
    <div class="logo">
        <h1>Final Exam</h1>
    </div>
</div>
<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listEmployee">Employees List</a></li>
            <li><a href="/createEmployee">Create New Employee</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
    <div class="body">
        <div class="section">
            <ul>
                <li>
                    <a href="#">Section 1</a>
                </li>
                <li>
                    <a href="#">Section 2</a>
                </li>
                <li>
                    <a href="#">Section 3</a>
                </li>
                <li>
                    <a href="#">Section 4</a>
                </li>
                <li>
                    <a href="#">Section 5</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content-top">
                <p>Noi dung</p>
            </div>
            <div class="content-bottom">
                <p>Noi dung</p>
            </div>
        </div>
        <div class="left-nav">
            <div class="feature">
                <h4 style="color: cornflowerblue">Thong Bao</h4>
            </div>
            <div class="external-link">
                <h4 style="color: cornflowerblue">Lien Ket</h4>
            </div>
        </div>
    </div>
</div>
<footer>
    <br>
    <h4 style="color: white">&copy; 2020 MyTinh</h4>
</footer>
</body>

</html>