<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Thong Tin Dich Vu</title>
    <link rel="stylesheet" href="../css/HomeStyle.css">
</head>
<body>
<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang Chu</a></li>
            <li><a href="/khachhang">Danh Sach Khach Hang</a></li>
            <li><a href="/hopdong">Danh Sach Hop Dong</a></li>
            <li><a href="/dichvu">Danh Sach Dich Vu</a></li>
        </ul>
    </div>
</div>
<h3>Thong Tin Dich Vu</h3>
<div id="form">
        <div>
            <label>Ma Dich Vu:</label>
            <label th:text="${dichvu.idDichVu}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Ten Dich Vu:</label>
            <label th:text="${dichvu.tenDichVu}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Dien Tich:</label>
            <label th:text="${dichvu.dienTich}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>So Tang:</label>
            <label th:text="${dichvu.soTang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>So Nguoi Toi Da:</label>
            <label th:text="${dichvu.soNguoiToiDa}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Chi Phi Thue:</label>
            <label th:text="${dichvu.chiPhiThue}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Trang Thai Dich Vu:</label>
            <label th:text="${dichvu.trangThaiDichVu}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Kieu Thue:</label>
            <label th:text="${dichvu.kieuThue.tenKieuThue}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Loai Dich Vu:</label>
            <label th:text="${dichvu.loaiDichVu.tenLoaiDichVu}" style="color: #4cbbb9"></label>
        </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>