<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang Chu</a></li>
            <li><a href="/khachhang">Danh Sach Khach Hang</a></li>
            <li><a href="/hopdong">Danh Sach Hop Dong</a></li>
            <li><a href="/dichvu">Danh Sach Dich Vu</a></li>
        </ul>
    </div>
</div>
<h3>Danh Sach Dich Vu</h3>
<form id="form">
    <input type="text" name="key" placeholder="Ten dich vu/Ma dich vu ..."/>
    <input type="submit" value="Tim Kiem"/>
</form><br>
<fieldset th:if="${message}">
    <legend><h2>Thong Bao</h2></legend>
    <div class="notify">
        <div th:if="${message}">
            <span th:text="${message}"></span>
        </div>
    </div>
</fieldset><br><br>
<table id="furama">
    <thead>
    <tr>
        <th>Ma Dich Vu</th>
        <th>Ten Dich Vu</th>
        <th>Dien Tich</th>
        <th>So Tang</th>
        <th>So Nguoi Toi Da</th>
        <th>Chi Phi Thue</th>
        <th>Trang Thai Dich Vu</th>
        <th>Thao Tac</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dv : ${dichvu}">
        <td th:text="${dv.idDichVu}"></td>
        <td th:text="${dv.tenDichVu}"></td>
        <td th:text="${dv.dienTich}"></td>
        <td th:text="${dv.soTang}"></td>
        <td th:text="${dv.soNguoiToiDa}"></td>
        <td th:text="${dv.chiPhiThue}"></td>
        <td th:text="${dv.trangThaiDichVu}"></td>
        <td>
            <a th:href="@{/thongtindichvu/(id=${dv.idDichVu})}">
                Thong Tin Chi Tiet
            </a>
            <a th:href="@{/suadichvu/(id=${dv.idDichVu})}">
                Chinh Sua Dich Vu
            </a>
            <a onclick="return confirm('Ban Co Muon Xoa Dich Vu Nay?')"
               th:href="@{/xoadichvu/(id=${dv.idDichVu})}">
                Xoa Dich Vu
            </a>
        </td>
    </tr>
    </tbody>
</table><br>
<div>
    <a th:if="${dichvu.hasPrevious()}" th:href="@{/dichvu(page=${dichvu.number - 1}, key = ${key})}">Previous</a>
    <span th:text="${dichvu.number + 1}"></span>/<span th:text="${dichvu.totalPages}"></span>
    <a th:if="${dichvu.hasNext()}" th:href="@{/dichvu(page=${dichvu.number + 1}, key = ${key})}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
