<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang Chu</a></li>
            <li><a href="/khachhang">Danh Sach Khach Hang</a></li>
            <li><a href="/hopdong">Danh Sach Hop Dong</a></li>
            <li><a href="/dichvu">Danh Sach Dich Vu</a></li>
        </ul>
    </div>
</div>
<h3>Danh Sach Vi Tri</h3>
<table id="furama">
    <thead>
    <tr>
        <th>Ma Vi Tri</th>
        <th>Ten Vi Tri</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vt : ${vitri}">
        <td th:text="${vt.idViTri}"></td>
        <td th:text="${vt.tenViTri}"></td>

    </tr>
    </tbody>
</table><br>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
