<p>angular-create-customer works!</p>

<h4 style="color: burlywood; text-align: center; padding: 15px">THÊM MỚI KHÁCH HÀNG</h4>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Mã Khách Hàng</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="KH-XXXX">
    </div>
    <div class="form-group col-md-6">
      <label>Tên Khách Hàng</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Ngày Sinh</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>Số CMND</label>
      <input type="text" class="form-control" placeholder="XXX-XXX-XXX">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Địa Chỉ</label>
    <input type="text" class="form-control" id="inputAddress">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" placeholder="name@example.com">
    </div>
    <div class="form-group col-md-6">
      <label>Số Điện Thoại</label>
      <input type="text" class="form-control" placeholder="XXXX-XXX-XXX">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">Giới Tính</label>
      <select id="inputState" class="form-control">
        <option>Nam</option>
        <option>Nữ</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Loại Khách</label>
      <select class="form-control">
        <option>Diamond</option>
        <option>Platinum</option>
        <option>Gold</option>
        <option>Silver</option>
        <option>Member</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn" style="background-color: rgb(40, 110, 95); margin-left: 1000px; color: honeydew">
    Thêm Mới Khách Hàng
  </button>
</form>
