<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create new blog</title>
</head>
<body>
<h1>Create new blog</h1>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/create-blog}" th:object="${blog}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div>
                    <label>Title</label>
                    <input type="text" th:field="*{title}"/>
            </div>
            <div>
                    <label>Recapitulate</label>
                    <input type="text" th:field="*{recapitulate}"/>
            </div>
            <div>
                    <label>Content</label>
                    <input type="text" th:field="*{content}"/>
            </div>
        <input type="submit" value="Create new blog"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>