<p>angular-edit-detail-contract works!</p>

<h4 style="color: burlywood; text-align: center; padding: 15px">CHỈNH SỬA HỢP ĐỒNG CHI TIẾT</h4>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Mã Khách Hàng</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="KH-XXXX">
    </div>
    <div class="form-group col-md-4">
      <label>Tên Khách Hàng</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label>Mã Hợp Đồng</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Dịch Vụ Đi Kèm</label>
      <select class="form-control">
        <option>Bữa Sáng: 100.000 vnd</option>
        <option>Bữa Trưa: 200.000 vnd</option>
        <option>Bữa Tối: 300.000 vnd</option>
        <option>Nước Uống: 50.000 vnd</option>
        <option>Massage: 700.000 vnd</option>
        <option>Karaoke: 500.000 vnd</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Số Lượng</label>
      <input type="number" class="form-control">
    </div>
  </div>
  <button type="submit" class="btn" style="background-color: rgb(40, 110, 95); margin-left: 1000px; color: honeydew">
    Chỉnh Sửa Hợp Đồng Chi Tiết
  </button>
</form>
