<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Thong Tin Khach Hang</title>
    <link rel="stylesheet" href="../css/HomeStyle.css">
</head>
<body>
<div class="container">
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang Chu</a></li>
            <li><a href="/khachhang">Danh Sach Khach Hang</a></li>
            <li><a href="/hopdong">Danh Sach Hop Dong</a></li>
            <li><a href="/dichvu">Danh Sach Dich Vu</a></li>
        </ul>
    </div>
</div>
<h3>Thong Tin Khach Hang</h3>
<div id="form">
        <div>
            <label>Ma Khach Hang:</label>
            <label th:text="${khachhang.idKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Ten Khach Hang:</label>
            <label th:text="${khachhang.tenKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Email:</label>
            <label th:text="${khachhang.mailKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Ngay Sinh:</label>
            <label th:text="${khachhang.ngaySinhKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>So CMND:</label>
            <label th:text="${khachhang.cmndKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>So Dien Thoai:</label>
            <label th:text="${khachhang.sdtKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Dia Chi:</label>
            <label th:text="${khachhang.diaChiKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Gioi Tinh:</label>
            <label th:text="${khachhang.gioiTinhKhachHang}" style="color: #4cbbb9"></label>
        </div>
        <div>
            <label>Loai Khach:</label>
            <label th:text="${khachhang.loaiKhach.tenLoaiKhach}" style="color: #4cbbb9"></label>
        </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>