<app-angular-home></app-angular-home>
<app-angular-list-customer></app-angular-list-customer>
<app-angular-create-customer></app-angular-create-customer>
<app-angular-edit-customer></app-angular-edit-customer>
<app-angular-list-customer-use-service></app-angular-list-customer-use-service>
<app-angular-list-employee></app-angular-list-employee>
<app-angular-create-employee></app-angular-create-employee>
<app-angular-edit-employee></app-angular-edit-employee>
<app-angular-list-contract></app-angular-list-contract>
<app-angular-list-detail-contract></app-angular-list-detail-contract>
<app-angular-create-contract></app-angular-create-contract>
<app-angular-create-detail-contract></app-angular-create-detail-contract>
<app-angular-edit-contract></app-angular-edit-contract>
<app-angular-edit-detail-contract></app-angular-edit-detail-contract>
<app-angular-list-service></app-angular-list-service>
<app-angular-create-service></app-angular-create-service>
<app-angular-edit-service></app-angular-edit-service>
