<p>angular-list-employee works!</p>

<h4 style="color: burlywood; text-align: center; padding: 15px">DANH SÁCH NHÂN VIÊN</h4>
<table class="table table-striped">
  <thead style="background-color: #addccf">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên Nhân Viên</th>
    <th scope="col">Ngày Sinh</th>
    <th scope="col">Số CMND</th>
    <th scope="col">Địa Chỉ</th>
    <th scope="col">Email</th>
    <th scope="col">Số Điện Thoại</th>
    <th scope="col">Mức Lương</th>
    <th scope="col">Bộ Phận</th>
    <th scope="col">Vị Trí</th>
    <th scope="col">Trình Độ</th>
    <th scope="col">Thao Tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeeList">
    <th>{{employee.id}}</th>
    <td>{{employee.tenNhanVien}}</td>
    <td>{{employee.ngaySinhNhanVien}}</td>
    <td>{{employee.cmndNhanVien}}</td>
    <td>{{employee.diaChiNhanVien}}</td>
    <td>{{employee.emailNhanVien}}</td>
    <td>{{employee.soDienThoaiNhanVien}}</td>
    <td>{{employee.luong}}</td>
    <td>{{employee.boPhan}}</td>
    <td>{{employee.viTri}}</td>
    <td>{{employee.trinhDo}}</td>
    <td class="action">
      <a href="#">
        <img src="https://img.icons8.com/metro/26/000000/edit.png" alt="edit_img"/>
      </a>
      <a onclick="return confirm('Bạn Có Muốn Xoá Nhân Viên Này?')"
         href="#">
        <img src="https://img.icons8.com/windows/32/000000/delete-forever.png" alt="delete_img"/>
      </a>
    </td>
  </tr>
  </tbody>
</table>
